/* Geral - Componentes Basicos  */
* {margin:0; padding:0;}
html { background-color: #AFCFE6;}
body {font-size:62.5%; /* line-height:1.25; */ font-family: verdana, freesans, garuda, helvetica, sans-serif; color: #666; background-color: #FFF;}
img, ul, a, fieldset {border: 0; list-style: none}
a{cursor: pointer; text-decoration:none;}
a:hover {text-decoration: underline;}
p {margin: 0.5em 0; /* line-height: 1.5; */}
p a {text-decoration: underline; color:#666;}
input[type="text"] {border: 1px solid #ccc;}
hr {display: block; height: 1px; color: #CCC; background: #CCC; border: 0; margin: 0.5em 0.2em; display:none;}
select {font-size: 1em;}
option {font-size: 1.1em;}

#page {background:url(../img/bg.jpg) no-repeat center top; height:760px; overflow:hidden;background-color:#AFCFE6;}
#content {display:block; width:863px; margin:0 auto;}
h1 {display:block; width:642px; height:87px; background:url(../img/logo.png) no-repeat; margin:30px auto 0 auto;}
h1 span {display:none;}
#mainContent {display:block; background:url(../img/bg_content.png) no-repeat; margin:70px auto 0 auto; height:576px; position:relative;}
#mainContent #photos {display:block; width:863px; position:absolute; top:-75px; text-align:center;}
#container {display:block; overflow:hidden;}
#container #menu {display:block; margin:140px 0 0 35px; width:185px; float:left;}
#container #menu li {display:block; margin-bottom:5px;}
#container #menu li a {display:block; font-size:12px; color:#fff; padding:5px;}
#container #menu li a:hover {background:#5e6e2f; text-decoration:none;}
#container #middle {display:block; width:550px; margin:110px 0 0 270px;}
#container #twitter {background:url(../img/twitter.png) no-repeat; padding-top:40px; margin:310px 0 0 25px; height:250px; width:205px;}
#container #twitter span {display:block; color:#fff; margin-bottom:15px; font-size:11px;}
#container #twitter span a {color:#c2f6ce;}
div.scroll { height: 450px; overflow: auto; }

h2 {
	color: #FFFFCC;
	margin-bottom: 15px;
	font-size: 16px;
}

p {
	font-size: 12px;
	text-align: justify;
	color: #FFFFFF;
}                                                  

#cotas-container {
	margin-top: 15px;
}

#cotas-paris {
	float: left;
	margin-right: 7px;
}

#cotas-ny {
	float: left;
}

.cotas {
	width: 265px;
	border: 2px solid #FFFFCC;
}

.cotas-titulo {
	padding: 7px;
	text-align: center;
	font-size: 13px;
	color: #1F2B03;
	background-color: #B2B68F;
}

.cotas ul {
	margin-bottom: 5px;
	margin-left: 15px;
}

.cotas ul li {
	padding-top: 5px;
	font-size: 11px;
}

.cotas ul li a {
	color: #FFFFFF;
	font-weight: bold;
}

.cotas ul li a span {
	font-weight: normal;
}